{% extends 'base.html.twig' %}

{% block title %}mother{% endblock %}

{% block body %}

{{ form_start(form)}}


<h2 class="mt-4 text-center">Une demande de liaison pour </h2>
<h3 class="mt-4 text-center">du compte</h3>
<div class="row ml-2 mr-2 mt-5 jumbotron bg-light">

    <div class="col-md-6 ">
        
        <h4 class="alert-heading">Accepter la demande</h4>
        {{ form_row(form.accepter)}}
        <br>    
        <h4 class="alert-heading">Refuser la demande</h4>
         <br>
                 {{ form_row(form.requestedMotherResponse) }}
            {{ form_row(form.refuser)}}
        
    </div>
    
    <div class="col-md-6">
       
         <h4 class="alert-heading">Bannir le compte</h4>
         <br>
                
            {{ form_row(form.bannir)}}
          
        
    </div>
</div>

{{ form_end(form)}}
{% endblock %}