{% extends '/account/mother/base.html.twig' %}
{% block title %}Ajouter un porteur de bracelet{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container">
    <h1 class="my-5">Ajouter un porteur de bracelet</h1>

    {{form_start(form)}}


    <div class="col">
        <div class="jumbotron bg-light">
            {{form (form.firstName)}}
            <br>
            {{form (form.lastName)}}
            <br>
            {{form (form.adress)}}
            <br>
            {{form (form.postalCode)}}
            <br>
            {{form (form.city)}}
            <br>
            {{form (form.wearWristlet)}}
            <br>
            <p>Attention, les données que vous allez saisir sont des données à caractère personnel d'une tierce
                personne. Conformément au <a href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on"
                    target="_blank">RGPD</a>
                vous devez justifier cette personne, ou son représentant légal, vous a expressement donné les droits
                pour le traitement de ces données dans le cadre de cette application.</p>
            {{form (form.checkRgpd)}}
            <br>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i>
                Enregistrer les Modifications
            </button>

        </div>
    </div>

    {{form_end(form)}}
</div>

{% endblock %}