{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="card bg-light mb-5 text-center">
    <div class="card-header">
                   <h1>Profile de {{app.user.Email}}</h1>
                </div>
        <br>
        <p>Bienvenue {{app.user.fullName}} sur votre section administration</p>
       
    </div>
    <div class="card-body text-center">
     {% if is_granted('ROLE_MOTHER')%}
        <a href="{{ path('wristlet_mother_adminitration')}}" class="btn btn-info"><i class="fas fa-tools"> Administrer vos bracelet</i></a>
        {% endif %}
        <br>
        <br>
    </div>
    <div class="row">

        <div class="col">
            <div class="card bg-light mb-5 text-center">
                <div class="card-header">
                    <h4>Modifier les données du compte</h4>
                </div>
                <div class="card-body">
                    <a href="{{ path('account_profile') }}">Modfier votre Email</a>
                    <br>
                    
                    <a href="{{ path('account_updatepswd') }}">Modfier votre mot de passe</a>
                    <br>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-light mb-5 text-center">
                <div class="card-header">
                        <h4>Acceder au fonction du bracelet</h4>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('account_link') }}">Ajouter un bracelet au compte</a>
                        <br>
                      
                        <a href="{{ path('account_cardio') }}">Consulter les données des bracelets lier au compte</a>
                        <br>
                    </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}