{% extends 'base.html.twig' %}

{% block title %}Modification du profil {% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="my-5 text-center">Modification du profile de {{app.user.FullName}}</h1><br>
            <div class="jumbotron bg-light">
                <div class="mt-5">
                    {{ form_start(form)}}
                    {{ form_row(form.email) }}
                    {{ form_row(form.adress) }}
                    {{ form_row(form.postalcode) }}
                    {{ form_row(form.city) }}

                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Enregistrer les modifications</button>

                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}