{% extends 'base.html.twig' %}

{% block title %}Pour nous contacter{% endblock %}

{% block body %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("a[title ~= 'BotDetect']").removeAttr("style");
    $("a[title ~= 'BotDetect']").removeAttr("href");
    $("a[title ~= 'BotDetect']").css('visibility', 'hidden');

});
</script>
{{ form_start(form)}}


<h1 class="mt-4 text-center">Pour toutes demandes veuillez remplir ce formulaire</h1>
<div class="row ml-2 mr-2 mt-5">
    <div class="col-md-6">
        <div class="jumbotron bg-light">
        <h3 class="alert-heading">Communiquez nous vos coordonnées</h3>
        <br>    
            {{ form_row(form.firstName) }}
            <br>
            {{ form_row(form.lastName) }}
            <br>
            {{ form_row(form.email) }}
            <br>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron bg-light">
         <h3 class="alert-heading">Communiquez nous votre demande</h3>
         <br>
                {{ form_row(form.sujet) }}
                <br>
                {{ form_row(form.message) }}
                {{ form_row(form.captchaCode)}}
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Envoyer</button>
          
        </div>
    </div>
</div>

{{ form_end(form)}}
{% endblock %}