{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}



    {{ form_start(form)}}

    <div class="row mt-5 ml-2 mr-2">
        <div class="col-md-6">
            <div class="jumbotron bg-light ">
                <h2 class="alert-heading">Informations générales</h2>
                <hr>
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.adress) }}
                {{ form_row(form.postalCode) }}
                {{ form_row(form.city) }}
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-light ">
                <h2 class="alert-heading">
                    Informations du compte
                </h2>
                <hr>
                {{ form_row(form.email) }}
                {{form_row(form.pswd)}}
                {{form_row(form.pswdConfirm)}}
                <br>
                
                <hr>
            {{form_row(form.checkConsent)}}

            <button class="btn btn-primary"><i class="fas fa-check"></i> Confirmez l'inscription

            </button>
            </div>
            
        </div>
        
        
    </div>



{{ form_end(form)}}


{% endblock %}