{% extends '/account/mother/base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}

<div class="container-fluid mt-5">
    <div class="card bg-light mb-5 text-center">
        <h1>Administration du compte {{user.Email}}</h1>
        <p>Bienvenue {{user.fullName}} sur votre section administration</p>
        <p>ici vous pourrez gérer vos bracelets,
            que se soit les personnes qui les portents, <br>
            ou les personnes qui demandent a y avoir accès</p>
    </div>
    <div class="row">

        <div class="col">
            <div class="card bg-light mb-3 text-center">
                <div class="card-header">
                    <h4>Administrer les porteurs de vos bracelets</h4>


                </div>
                <div class="card-body">
                    <h5>Nombres de vos braclets : {{stats.numWristlets}}</h5>
                    <hr>
                    <h5>Nombres de vos bracelets pour lequel vous n'avez pas renseigné d'utilisateur :
                        {{stats.numWears}}</h5>
                    <hr>
                    <a href="{{path ('mother_weared_management')}}" class="btn btn-primary">Personnes portant vos
                        bracelets</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-light mb-3 text-center">
                <div class="card-header">

                    <h4>Administrer les liaisons de vos bracelets</h4>

                </div>
                <div class="card-body">
                    <h5>Nombres de demande de liaison pour vos bracelets : {{stats.numRequests}}</h5>
                    <hr>
                    <h5>Vous avez : {{stats.numWaiting}} demande de liaison en attente, pensez a consulter votre boite
                        mail</h5>
                    <hr>

                    <a href="{{path ('mother_linked_management')}}" class="btn btn-primary">Liaison de vos bracelets</a>


                </div>
            </div>
        </div>
    </div>
</div>
{% if stats.numNotNames > 0 %}
<div class="container-fluid">
    <div class="card bg-info mb-5 text-center text-white">
        <h2>Attention vous disposer actuellement de {{stats.numNotNames}} bracelet nomé par default <strong>"Undefine"</strong>
        </h2>
        <p> il semblerait que lorsque vous avez rentré pour la première fois leur numéro de série vous aiyez oublier de
            leur donner un autre nom</p>
        <p>merci de prendre le temps de les renomées!</p>
    </div>
</div>
{% endif %}


<div class="container">

    <table class="table table-striped table-hover text-center">

        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Numéro de série</th>
                <th>Editer le nom du bracelet</th>
            </tr>
        </thead>
        <tbody>
            {% for SerialNumber in app.user.motherFor %}
            <tr>
                <td class="{% if SerialNumber.wristletTitle == "Undefine" %}table-warning{% endif %}">
                    {{SerialNumber.wristletTitle}}</td>
                <td>{{SerialNumber.serialwristlet}}</td>
                <td>
                    <a href="{{path ('mother_Wristlet_Name_edit', {'id':SerialNumber.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}