<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href=" {{ path('homepage')}} ">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {{ path('description')}} ">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact')}}">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div class="container ">
        <div class="row">
          {% if app.user %}
          <li class="nav-item dropdown ">
            <a href="#" class="nav-link dropdown-toggle fas fa-user-circle" data-toggle="dropdown"
              id="accountDropdownLink">
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">

              <a href="{{ path('account_logged') }}" class="dropdown-item ">Mon compte </a>
              
              <a href="{{ path('account_link') }}" class="dropdown-item"> Ajouter un bracelet au compte </a>
              {% if is_granted('ROLE_MOTHER')%}
              <a href="{{ path('wristlet_adminitration')}}" class="dropdown-item">Administrer vos bracelet</a>
              <a href="{{ path('account_cardio') }}" class="dropdown-item"> Voir les bracelets lier au compte </a>
               {% elseif is_granted('ROLE_CHILD')%}
               <a href="{{ path('account_cardio') }}" class="dropdown-item"> Voir les bracelets lier au compte </a>
               {% endif %}

              <div class="dropdown-divider"></div>
              {% if is_granted('ROLE_ADMIN') %}

              <a class="dropdown-item" href="{{'#'}}">Espace Super Admin</a>
              <div class="dropdown-divider"></div>
              {% endif %}

              <a href="{{ path('account_logout') }}" class="dropdown-item">Deconnexion</a>

            </div>
          </li>
          {% else %}

          <li class="nav-item">
            <a href="{{ path('account_register')}}" class="nav-link"><i class="fas fa-user"></i> Inscription</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('account_login')}}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Connexion</a>
          </li>
          {% endif %}

    </ul>
  </div>
  </div>
  </div>
</nav>